<%- include('../partials/header'); %>
    <!-- Container Start -->
    <div class="page-wrapper">
        <div class="main-content">
            <!-- Page Title Start -->
            <div class="row">
                <div class="col xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box">
                            <h4 class="page-title"><%=viewTitle%></h4>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li class="breadcrumb-link">
                                    <a href="index.html"><i class="fas fa-home mr-2"></i>Dashboard</a>
                                </li>
                                <li class="breadcrumb-link active"><%=viewTitle%></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Products view Start -->
            <div class="row">
                <!-- Styled Table Card-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card table-card">
                        <div class="card-header ttl-with-btn pb-0">
                            <h4><%=pageTitle%></h4>
                            <div class="card-header-btn">
                                <a class="pc-btn resetModalForm" data-toggle="modal" data-target="#createAttributeModal" data-whatever="@mdo" id="addNewAttributeBtn">Add New Attribute</a>
                            </div>
                        </div>
                        <div class="card-body">
                           <table class="table table-striped table-bordered dt-responsive nowrap display dataTableAjax" style="width:100%" data-action-url="attribute_list" data-target-section="tbody" data-column-class="[{className:'sr'},{className:'attribute_name'},{className: 'attribute_value'},{className: 'attribute_cate'},{className: 'status'},{className: 'action'}]"  data-refresh-dataTablePosition='0' data-filter='filter' data-sort="[{'targets': [],'orderable': false},{'targets': [],'visible': false}]">
                                <thead>
                                    <tr>
                                        <th class="sr">#</th>
                                        <th class="attribute_name">Attribute Name</th>
                                        <th class="attribute_value">Attribute Value</th>
                                        <th class="attribute_cate">Category</th>
                                        <th class="status">Status</th>
                                        <th class="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    <!-- Model 6-7-8 -->
	<div class="modal fade" id="createAttributeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel02" data-title="Add New attribute">Add New Attribute</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="create_attribute" method="post" autocomplete="off" data-reset="1">
            <div class="modal-body">
                <input type="hidden" name="id" id="attribute_id" value="0">
                <div class="form-group">
                  <label class="col-form-label">Attribute Name:</label>
                  <input type="text" class="form-control require" name="attribute_name" id="attribute_name">
                </div>
                <div class="form-group mb-0">
                    <label class="col-form-label">Attribute Value:</label>
                    <div class="form-control tagging" data-tags-input-name="attributes_value">
                        <div class="tag">
                            <input  class="form-control require" type="hidden" name="attributes_value[]" value="">
                        </div>
                        <input class="type-zone" contenteditable="true">
                    </div>
                </div>
                <div class="form-group" id="mainCatselect">
                    <label for="city" class="col-form-label">Attribute Category</label>
                    <select class="select2 form-control require" name="attributes_cate" id="attributes_cate">
                            <option value="">Select Category</option>
                            <% if (cateList) { %>
                                <% cateList.forEach(function(cate) { %>
                                    <option value="<%= cate.id %>"><%= cate.cate_name %></option>
                                <% }); %>
                            <% } %>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" data-action="submitMe" class="btn btn-primary">Submit</button>
            </div>
        </form>
          </div>
        </div>
      </div>
<%- include('../partials/footer'); %>