<%- include('../partials/header'); %>
    <!-- Container Start -->
    <div class="page-wrapper">
        <div class="main-content">
            <!-- Page Title Start -->
            <div class="row">
                <div class="col xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box">
                            <h4 class="page-title"><%=viewTitle%></h4>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li class="breadcrumb-link">
                                    <a href="index.html"><i class="fas fa-home mr-2"></i>Dashboard</a>
                                </li>
                                <li class="breadcrumb-link active"><%=viewTitle%></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Products view Start -->
            <div class="row">
                <!-- Styled Table Card-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card table-card">
                        <div class="card-header ttl-with-btn pb-0">
                            <h4><%=pageTitle%></h4>
                            <div class="card-header-btn">
                               <!-- <% if(isAdmin){ %>
                                    <a href="/dashboard/add-product" class="pc-btn" id="addNewCateBtn">Add New Product</a>
                                <% } %>   -->
                                <a href="/dashboard/add-product" class="pc-btn" id="addNewCateBtn">Add New Product</a>
                            </div>
                        </div>
                        
                        <div class="card-body">
                           <table class="table table-striped table-bordered dt-responsive nowrap display dataTableAjax" style="width:100%" data-action-url="products_list" data-target-section="tbody" data-column-class="[{className:'sr'},{className:'p_name'},{className:'p_brand'},{className:'p_category'},{className:'p_subcategory'},{className:'p_status'},{className: 'p_action'}]"  data-refresh-dataTablePosition='0' data-filter='filter' data-sort="[{'targets': [],'orderable': false},{'targets': [],'visible': false}]">
                                <thead>
                                    <tr>
                                        <th class="sr">#</th>
                                        <th class="p_name">Product Name</th>
                                        <th class="p_brand">Brand</th>
                                        <th class="p_category">Category</th>
                                        <th class="p_subcategory">Sub Category</th>
                                        <th class="p_status">Status</th>
                                        <th class="p_action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    <!-- Model 6-7-8 -->
	<div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel02">Add New Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/create_category" method="post" autocomplete="off">
            <div class="modal-body">
                <input type="hidden" name="id" id="cate_id" value="0">
                <div class="form-group">
                  <label class="col-form-label">Category Name:</label>
                  <input type="text" class="form-control require" name="cate_name" id="cate_name">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" data-action="submitMe" class="btn btn-primary">Submit</button>
            </div>
        </form>
          </div>
        </div>
      </div>

      
<%- include('../partials/footer'); %>